nav {
  width:960px;
  margin: 0 auto;
}

nav:before {
  content:'';
  display:block;
  height:50px;
  width:100%;
  background:#000;
  position:absolute;
  left:0;
  z-index:-1;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
 
}

ul li {
  float:left;
}

ul li a {
  color:#fff;
  display:block;
  height:50px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
  position: relative;
}

ul li a:hover {
  background:#d34d43;
}

.WebMihandr {
  position: relative;
  color:#fff;
  background:#000;
  bottom: 60px;
  right: 370px;
  width: 110px;
  padding:0 5px;
}

.GameNews {
  position: relative;
  color:#fff;
  background:#000;
  right: 370px;
  bottom: 85px;
  width: 100px;
  padding:0 5px;
}

.ClassGame1 {
  color:#fff;
  height:50px;
  padding:0 30px;
  position:relative;
  left: 250px;
}

.ClassGame2{
  color:#fff;
  height:50px;
  padding:0 30px;
  position:relative;
  left: 250px;
}

.ClassGame3{
  color:#fff;
  height:50px;
  padding:0 30px;
  position:relative;
  left: 250px;
}

.ClassGame4{
  color:#fff;
  height:50px;
  padding:0 30px;
  position:relative;
  left: 250px;
}

.ClassGame5{
  color:#fff;
  height:50px;
  padding:0 30px;
  position:relative;
  left: 250px;
}

.icon {
  position: relative;
  width: 50px;
  height: 40px;
  padding:0 20px;
  bottom: 148px;
  right: 445px;
}

.gameyear {
  position: relative;
  left: 35%;
  width: 65%;
  bottom: 50px;
  color: #fff;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}

